body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(/imgs/noisy-bg.png);
  font-family: 'Roboto', arial, sans-serif;
}

wrapper {
  min-height: 100%;
  position: relative;
}

h1 {
  background-color: #ddf;
  font-family: 'Press Start 2P', arial;
  color: #338;
}

#content {
  background-color: #cce;
  margin: 0 5% 0 5%;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #557;
  color: #ccc;
  text-align: right;
}

footer p {
  padding-right: 2%;
}

#content, footer, h1 {
  border: 1px solid #333;
}

header, #content, footer {
  margin-top: 2%;
}

header h1, #content {
  padding: 2%;
}

#content ul.contacts {
  list-style-type: none;
}

#content ul.contacts li {
  width: 100%;
  padding-bottom: 5px;
  text-align: left;
}

#content ul.contacts li a {
  border: 2px #ccc outset;
  margin: 5px;
}

#content a {
  text-decoration: none;
  background-color: #ebefa1;
}

#content p.about_me a {
  padding: 3pt;
}